.container {
  --__list-gap: var(--space-16x);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4x);

  .list {
    display: flex;
    justify-content: center;
    gap: var(--__list-gap);

    .trigger {
      position: relative;
      border: 2px solid var(--text-color);
      border-radius: var(--radius-full);
      height: 3rem;
      aspect-ratio: 1;

      &[data-state='active'] {
        background-color: var(--text-color);
        color: var(--background-color);
      }

      &.success {
        border-color: var(--color-success);
      }

      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }

      &:disabled {
        background-color: var(--background-color-disabled);
        color: var(--text-color-disabled);
      }

      &.connect::after {
        display: block;
        content: '';
        position: absolute;
        width: calc(var(--__list-gap) + 2px); /* Line length */
        height: 2px;
        background-color: var(--text-color);
        /* Moves it to the right of each item */
        right: calc(-1 * var(--__list-gap) - 3px);
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.taskList {
  li {
    margin: var(--space-4x);
    list-style-type: disc;
    border-left: 4px solid black;
    padding-left: var(--space-2x);
  }
}
