.text {
  text-align: justify;

  h1 {
    margin: var(--space-4x) 0;
  }

  h2 {
    margin: var(--space-4x) 0 var(--space-3x);
  }

  // TODO make a more generic link styling
  a {
    text-decoration: underline;
  }

  p {
    margin: var(--space-3x) 0;
  }
}
