@use 'sass:color';

.button {
  --__theme-color: var(--text-color);
  --__text-color: var(--background-color);

  padding: var(--space-1x) var(--space-2x);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1x);

  border-radius: var(--radius-lg);

  &[disabled] {
    --__theme-color: gray;
  }

  &.primary {
    border: 2px solid var(--__theme-color);
    background-color: var(--__theme-color);
    color: var(--__text-color);
    text-decoration: none;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--__theme-color) 80%,
        transparent
      );
    }
  }

  &.secondary {
    border: 2px solid var(--__theme-color);
    color: var(--__theme-color);
    text-decoration: none;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--__theme-color) 20%,
        transparent
      );
    }
  }

  &.tertiary {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--__theme-color);
  }

  &.danger {
    border: 2px solid red;
    background-color: red;
    text-decoration: none;

    &:hover {
      border: 2px solid color.adjust(red, $lightness: -10%, $space: hsl);
      background-color: color.adjust(red, $lightness: -10%, $space: hsl);
    }
  }
}
