@use '@/styles/media';

.container,
.form,
.interests,
.editInterests {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-4x);

  label {
    font-size: small;
    // remove gap after label
    margin-bottom: calc(-1 * var(--space-4x));
  }
}

.container {
  gap: var(--space-8x);

  /* two columns on large screens */
  @include media.for-tablet-portrait-up {
    flex-direction: row;
    gap: var(--space-16x);

    .form {
      max-width: 30rem;
    }

    .form,
    .interests {
      flex: 1;
    }
  }

  input {
    width: 100%;
  }

  // styles for uploading image
  .uploadButton {
    height: 250px;
    width: 250px;
    max-width: 100%;

    background-color: #222;
    font-size: xx-large;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;

    // place image in the middle
    background-size: cover;
    background-position: center;
  }

  input[type='file'] {
    display: none;
  }
}
