.item {
  display: inline-flex;
  border: 1px solid var(--text-color);
  border-radius: var(--radius-full);
  align-items: center;
  gap: var(--space-1x);
  // padding: 0rem var(--space-2x);

  &.highlighted {
    font-weight: bold;
  }

  & > :first-child {
    padding-left: var(--space-2x);
    border-end-start-radius: var(--radius-full);
    border-start-start-radius: var(--radius-full);
  }
  & > :last-child {
    padding-right: var(--space-2x);
    border-start-end-radius: var(--radius-full);
    border-end-end-radius: var(--radius-full);
  }
}

.popover {
  max-width: 400px;
  width: 100vw;

  padding: var(--space-4x);
  border-radius: var(--radius-lg);
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  overflow: auto;
  max-height: var(--radix-popper-available-height);

  .arrow {
    fill: var(--text-color);
  }

  .close {
    margin-top: calc(-1 * var(--space-2x));
    align-self: flex-end;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  align-items: self;

  .image {
    align-self: center;
    max-width: 200px;
    max-height: 200px;
  }

  .headerContainer {
    margin-bottom: var(--space-2x);

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-4x);
      font-size: var(--font-size-heading);
    }

    .website {
      display: flex;
      gap: var(--space-1x);
      align-items: center;
    }

    .aliases {
      font-style: italic;
    }
  }
}
