.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .item {
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 100rem;
    padding: 0rem 0.5rem;

    &.highlighted {
      font-weight: bold;
    }
  }
}

.select {
  .control {
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 6px;
  }
  .input {
    color: var(--text-color);
  }
  .menu {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0px 0px 8px var(--text-color);
  }
  .separator {
    display: none;
  }
}
