.messages {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  align-items: flex-start;

  .message {
    border-radius: 2rem;
    background-color: lightgray;
    color: black;
    padding: var(--space-2x) var(--space-4x);

    &.fromMe {
      background-color: var(--text-color);
      color: var(--background-color);
      align-self: flex-end;
    }

    &.unread {
      font-weight: bold;
    }

    .time {
      font-size: var(--font-size-secondary);
    }
  }
}

// TODO layout is horrible and the form hides bottom message
// but there is no sense in fixing it if we don't have a design
.messageForm {
  background-color: var(--background-color);
  padding: var(--space-2x) 0;
  display: flex;
  justify-content: stretch;

  fieldset {
    display: contents;
  }

  textarea {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
