.header {
  display: flex;
  gap: var(--space-3x);
}

.threadList {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);

  .thread {
    border: 2px solid var(--text-color);
    height: 4rem;
    overflow: hidden;
    padding: var(--space-2x);
    display: flex;
    gap: var(--space-2x);

    &.unread {
      .content {
        font-weight: bold;
      }
    }

    .avatar {
      align-self: center;
      flex-shrink: 0;
    }

    .content {
      margin-top: 0var (--space-4x);
      font-size: 0.9rem;
    }
  }
}
