.trigger {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: red; //var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  &.active {
    background-color: var(--background-color-raised);
  }
}

.overlay {
  background-color: var(--background-color-raised);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 100000;
}

.content {
  background-color: var(--background-color);
  border-radius: 6px;
  border: 2px solid var(--text-color);
  box-shadow: var(--background-color-raised);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 100001;

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0;
  color: var(--mauve-12);
  font-size: 17px;
  font-weight: 500;
}

.description {
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.later {
  margin-top: 0.5rem;
  width: 100%;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
