.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4x);

  .name {
    font-size: var(--font-size-heading);
  }

  .webid {
    font-style: italic;
  }

  .about {
    white-space: pre-wrap;
    width: 100%;
    max-width: 400px;
  }
}

.photo {
  width: 250px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}
