.accommodationForm.accommodationForm {
  border-color: purple;

  label {
    font-size: var(--font-size-secondary);
    margin-bottom: calc(-1 * var(--space-4x));
  }

  .errorMessage {
    font-size: var(--font-size-secondary);
    color: red;
    margin-top: calc(-1 * var(--space-4x));
  }

  .inputError {
    border: 2px solid red;
  }

  textarea {
    width: 100%;
  }
}
