.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);

  .person {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4x);

    .name {
      font-size: var(--font-size-heading);
    }
  }

  .accommodation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4x);
    white-space: pre-line;
  }
}
