@use '@/styles/helpers';
@use '@/styles/media';

.container {
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // top: 4rem;
  // bottom: 4rem;
  background-color: var(--background-color);
  position: relative;
  height: 100%;

  @include helpers.remove-page-margins;
}

.offerOverlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  // flex: 0;
  padding: var(--space-8x) var(--page-margin) var(--page-margin)
    var(--page-margin);
  max-height: 100%;

  @include media.for_tablet_portrait_up {
    height: 100%;
  }

  width: 32rem;
  max-width: 100%;
  overflow-y: auto;
  background-color: color-mix(
    in srgb,
    var(--background-color) 90%,
    transparent
  );

  .closeButton {
    position: absolute;
    top: var(--space-4x);
    right: var(--space-4x);
  }
}

.mapContainer {
  width: 100%;
  height: 100%;
  z-index: 0;
}

[data-theme='dark'] .mapContainer {
  filter: invert(90%) hue-rotate(180deg) brightness(0.8);
}
