input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='datetime-local'],
textarea,
select {
  border: 2px solid var(--text-color);
  border-radius: var(--radius-sm);
  padding: var(--space-1x) var(--space-2x);

  &::placeholder {
    color: rgb(166, 166, 166);
    font-size: 0.875rem;
  }
}
