:root {
  color-scheme: light dark;
}

:root,
[data-theme='light'] {
  --background-color: #fff;
  --text-color: #000;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #fff;

  img {
    filter: invert(100%);
  }
}

body {
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}
