@use '@/styles/media';

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  font-size: var(--font-size-heading);

  // logo
  // when we hover the logo, show the alternative logo
  .logo {
    height: 1.5rem;
  }

  .focusedLogo {
    display: none;
  }

  &:hover {
    .unfocusedLogo {
      display: none;
    }

    .focusedLogo {
      display: initial;
    }
  }

  .hideOnMobile {
    display: none;
    @include media.for-tablet-portrait-up {
      display: initial;
    }
  }
}

// in dark mode, invert the logo colors
[data-theme='dark'] .logo {
  &.darkInvert {
    filter: invert(100%);
  }
}
