@use '@/styles/media';

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: var(--radius-lg);
  padding: 0.75rem;
  gap: 0.5rem;
  justify-content: space-between;
  height: 100%;
  position: relative;

  .personLink {
    display: block;
    width: 100%;
  }

  .person {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    .personName {
      max-width: 100%;
      word-wrap: break-word;
    }
  }

  .status {
    font-style: italic;
  }
}

.contactList {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  @include media.for-tablet-portrait-up {
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
