.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  // padding-bottom: 2rem;

  .specialLink {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
