.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: var(--space-4x);

  // customize style of buttons on home
  a {
    padding: var(--space-4x);
    max-width: 20rem;
    width: 100%;
    gap: var(--space-3x);
  }
}
