.container {
  // make sure the maps won't be overflowing other components
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  padding-bottom: 2rem;
}

.accommodation {
  border: 2px solid black;
  padding: 1rem;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    button {
      flex: auto;
    }
  }
}

.addAccommodationButton {
  width: calc(304px + 2rem);
}
