.container {
  // make sure the maps won't be overflowing other components
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8x);

  margin-bottom: var(--space-32x);

  .header {
    align-self: start;
  }

  .item {
    width: 48rem;
    max-width: 100%;
  }
}
