.container {
  // make sure the maps won't be overflowing other components
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8x);

  padding-bottom: var(--space-8x);

  .header {
    align-self: start;
    * {
      vertical-align: text-bottom;
    }
  }
}

.accommodation {
  border: 2px solid var(--text-color);
  border-radius: var(--radius-lg);
  padding: var(--space-4x);
  position: relative;
  max-width: 100%;
  width: calc(300px + var(--space-8x));
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);

  &.accommodationForm {
    border-color: purple;
  }

  label {
    font-size: small;
    margin-bottom: calc(-1 * var(--space-4x));
  }

  .errorMessage {
    font-size: small;
    color: red;
    margin-top: calc(-1 * var(--space-4x));
  }

  .inputError {
    border: 2px solid red;
  }

  textarea {
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4x);
    button {
      flex: auto;
    }
  }
}

.addAccommodationButton {
  width: calc(304px + var(--space-8x));
  max-width: 100%;
}
