.checkingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-2x);
}

.backgroundCheck {
  margin: 0 calc(-1 * var(--page-margin));
  padding: var(--space-2x) var(--page-margin);
  background-color: var(--background-color-raised);
}
