.wrapper {
  height: 100%;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  text-align: justify;

  .mainDescription {
    font-size: 1.2rem;
  }

  .pun {
    font-size: 1.2rem;
    font-style: italic;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 2rem;

    button {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  .logo {
    height: 5rem;
    max-width: 100%;
    object-fit: contain;
  }

  .spacer {
    flex: auto;
  }

  .footer {
    a {
      text-decoration: underline;
    }
    .footerInfo {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-evenly;
    }
    .attribution {
      color: gray;
      font-size: small;
      a {
        color: inherit;
      }
    }
  }
}
