.wrapper {
  height: 100%;
  padding-bottom: var(--space-8x);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16x);

  text-align: justify;

  .mainDescription {
    font-size: 1.2rem;

    // TODO make a more generic link styling
    a {
      text-decoration: underline;
    }
  }

  .pun {
    font-size: 1.2rem;
    font-style: italic;
  }

  .action {
    width: 100%;
    max-width: 200px;
    height: 3rem;
  }

  .logo {
    height: 5rem;
    max-width: 100%;
    object-fit: contain;
  }

  .spacer {
    flex: auto;
  }

  .footer {
    a {
      text-decoration: underline;
    }

    .footerInfo {
      display: flex;
      gap: var(--space-8x);
      align-items: center;
      justify-content: space-evenly;
    }

    .attribution {
      color: gray;
      font-size: small;
      a {
        color: inherit;
      }
    }
  }
}
