.container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  .messagesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .participants {
      display: flex;
      gap: var(--space-1x);
    }
  }

  .messagesContainer {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .daySeparator {
      display: flex;
      align-items: center;
      text-align: center;
      gap: var(--space-3x);
      font-size: small;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--text-color);
      }
    }
  }

  .info {
    padding: var(--space-3x);
    &:empty {
      display: none;
    }
  }
}
