.sendForm {
  display: flex;
  align-items: stretch;

  .messageInput {
    flex: 1;
  }
}

.container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  .messagesHeader {
    display: flex;
    justify-content: space-between;
  }

  .messagesContainer {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .daySeparator {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 10px;
      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--text-color);
      }
    }
  }
}
