.message,
.author {
  display: grid;
  grid-template-columns: 3.5rem auto;
  gap: 0 var(--space-3x);
}

.author {
  margin-top: var(--space-3x);
  align-items: center;
  .name {
    font-weight: bold;
  }
}

.message {
  &.unread {
    background-color: var(--background-color-raised);
  }

  border-radius: var(--radius-sm);

  .time {
    font-size: var(--font-size-secondary);
    visibility: hidden;
  }

  .content {
    white-space: pre-wrap;
  }
}

li:hover > .message {
  background-color: var(--background-color-raised);
  .time {
    visibility: visible;
  }
}
