.sendMessage {
  display: flex;
  align-items: stretch;

  .messageInput {
    flex: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}

.submit {
  width: 3rem;
}
