.header {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;

    // logo
    .logo {
      height: 1.5rem;
    }
  }

  .spacer {
    flex: auto;
  }
}
