@use '@/styles/media';

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: var(--space-2x);

  @include media.for-tablet-portrait-up {
    gap: var(--space-6x);
  }

  .spacer {
    flex: auto;
  }

  .messages {
    position: relative;

    .unread {
      position: absolute;
      top: 0;
      right: -0.2rem;
      font-size: small;
      color: var(--color-success);
    }
  }
}
