@use '@/styles/media';

.mapContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 100vh;

  @include media.for-tablet-portrait-up {
    aspect-ratio: 16 / 9;
  }
}

[data-theme='dark'] .mapContainer {
  filter: invert(90%) hue-rotate(180deg) brightness(0.8);
}

.description {
  width: 100%;
  white-space: pre-line;
}
