.container {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1x);
  vertical-align: middle;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  color: inherit;
  text-decoration: none;
}

.profileImage.profileImage {
  width: 100px;
  height: 100px;
}
