.list {
  display: flex;
  gap: var(--space-2x);

  .trigger {
    text-transform: uppercase;
    font-size: var(--font-size-secondary);

    &[data-state='active'] {
      font-weight: bold;
    }

    &.edited {
      font-style: italic;
    }
    &.empty {
      text-decoration: line-through;
    }
  }
}
