.container,
.content {
  // show footer at the bottom
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4x);

  a {
    text-decoration: underline;
  }

  .footer {
    .email {
      white-space: nowrap;
    }
  }
}

.providerList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: var(--space-3x);
  grid-auto-rows: calc(1.5 * var(--space-8x));

  .provider {
    width: 100%;
    height: 100%;
  }
}
