.container,
.content {
  // show footer at the bottom
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  a {
    text-decoration: underline;
  }

  .footer {
    .email {
      white-space: nowrap;
    }
  }
}

.providerList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.75rem;
  grid-auto-rows: 3rem;

  .provider {
    width: 100%;
    height: 100%;
  }
}
