// fix some production style inconsistencies
button,
fieldset,
input[type='submit'],
input[type='reset'] {
  border: none;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

// by default, show svg inline (icons)
svg {
  display: initial;
}
