name: Lint

on: push

permissions:
  checks: write
  contents: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install NPM packages
        run: yarn install --frozen-lockfile

      - name: Check code clutter with Knip
        run: yarn knip

      - name: Run linters
        uses: rkuykendall/lint-action@master
        # uses: wearerequired/lint-action@v2
        with:
          eslint: true
          eslint_args: --max-warnings 0
          prettier: true
          continue_on_error: false
