name: Run e2e tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v5
        env:
          CYPRESS_COMMUNITY: http://localhost:4000/test-community/community#us'
          CYPRESS_OTHER_COMMUNITY: http://localhost:4000/other-community/community#us'
          CYPRESS_cssUrl: http://localhost:4000
          CYPRESS_EMAIL_NOTIFICATIONS_IDENTITY: http://localhost:4000/mailbot/profile/card#me
          REACT_APP_COMMUNITY: http://localhost:4000/test-community/community#us'
          REACT_APP_EMAIL_NOTIFICATIONS_SERVICE: http://localhost:3005
          REACT_APP_EMAIL_NOTIFICATIONS_IDENTITY: http://localhost:4000/mailbot/profile/card#me
          REACT_APP_ENABLE_DEV_CLIENT_ID: true
          BROWSER: none
        with:
          # we run two apps - with solid- and simple-email-notifications enabled
          # the app-specific environment variables are provided in package.json
          # didn't find way to provide them to yarn start directly here
          start: yarn cy:github:app:notifications:simple, yarn cy:github:app:notifications:solid, yarn community-solid-server -p 4000 -l error
          wait-on: 'http://localhost:3000, http://localhost:3001, http://localhost:4000'
