name: Run e2e tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          env: BROWSER=none
          start: yarn start, yarn community-solid-server -p 4000
          wait-on: 'http://localhost:3000, http://localhost:4000'
