name: Run e2e tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v5
        env:
          NODE_ENV: test
          CYPRESS_COMMUNITY: http://localhost:4000/test-community/community#us'
          CYPRESS_OTHER_COMMUNITY: http://localhost:4000/other-community/community#us'
          CYPRESS_cssUrl: http://localhost:4000
          REACT_APP_COMMUNITY: http://localhost:4000/test-community/community#us'
          REACT_APP_EMAIL_NOTIFICATIONS_SERVICE: http://localhost:3005
          REACT_APP_EMAIL_NOTIFICATIONS_IDENTITY: https://example.com/bot/profile/card#me
          BROWSER: none
        with:
          start: yarn start, yarn community-solid-server -p 4000 -l error
          wait-on: 'http://localhost:3000, http://localhost:4000'
